:root {
  /* COLORS */
  --colors-text: hsl(245, 61%, 35%);
  --colors-background: hsl(58, 89%, 82%);
  /* FONTS */
  --fonts-heading: 'Coco Gothic', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  --fonts-body: 'Atkinson Hyperlegible', -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  /* FONT SIZES */
  --font-size-xs: 1rem;
  --font-size-sm: 1.25rem;
  --font-size-md: 1.5rem;
  --font-size-lg: 2rem;
  --font-size-xl: 2.5rem;
  --font-size-2xl: 3rem;
  --font-size-3xl: 4rem;
  /* SPACING */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.25rem;
  --space-xl: 2rem;
  --space-2xl: 3rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--colors-background);
  color: var(--colors-text);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--font-size-md);
  max-width: 15ch;
}

h2 {
  font-size: var(--font-size-xl);
  max-width: 30ch;
}

p {
  font-size: var(--font-size-sm);
  max-width: 60ch;
}

@media (min-width: 48em) {
  h1 {
    font-size: var(--font-size-xl);
  }
  h2 {
    font-size: var(--font-size-3xl);
  }
  p {
    font-size: var(--font-size-md);
  }
}

p,
a {
  font-family: var(--fonts-body);
  line-height: 1.7;
}

h1,
h2 {
  font-family: var(--fonts-heading);
  line-height: 1.25;
}

h1,
h2,
p,
blockquote {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Coco Gothic';
  src: url('/fonts/cocogothic/cocogothic-bolditalic.woff2') format('woff2'),
    url('/fonts/cocogothic/cocogothic-bolditalic.woff') format('woff'),
    url('/fonts/cocogothic/cocogothic-bolditalic.ttf') format('ttf');
  font-style: italic;
  font-weight: bold;
  font-display: optional;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/atkinsonhyperlegible/Atkinson-Hyperlegible-Regular.woff2')
      format('woff2'),
    url('/fonts/atkinsonhyperlegible/Atkinson-Hyperlegible-Regular.woff')
      format('woff'),
    url('/fonts/atkinsonhyperlegible/Atkinson-Hyperlegible-Regular.ttf')
      format('ttf');
  font-style: normal;
  font-weight: normal;
  font-display: optional;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/atkinsonhyperlegible/Atkinson-Hyperlegible-Bold.woff2')
      format('woff2'),
    url('/fonts/atkinsonhyperlegible/Atkinson-Hyperlegible-Bold.woff')
      format('woff'),
    url('/fonts/atkinsonhyperlegible/Atkinson-Hyperlegible-Bold.ttf')
      format('ttf');
  font-style: normal;
  font-weight: bold;
  font-display: optional;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/atkinsonhyperlegible/Atkinson-Hyperlegible-Italic.woff2')
      format('woff2'),
    url('/fonts/atkinsonhyperlegible/Atkinson-Hyperlegible-Italic.woff')
      format('woff'),
    url('/fonts/atkinsonhyperlegible/Atkinson-Hyperlegible-Italic.ttf')
      format('ttf');
  font-style: italic;
  font-weight: normal;
  font-display: optional;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/atkinsonhyperlegible/Atkinson-Hyperlegible-BoldItalic.woff2')
      format('woff2'),
    url('/fonts/atkinsonhyperlegible/Atkinson-Hyperlegible-BoldItalic.woff')
      format('woff'),
    url('/fonts/atkinsonhyperlegible/Atkinson-Hyperlegible-BoldItalic.ttf')
      format('ttf');
  font-style: italic;
  font-weight: bold;
  font-display: optional;
  text-rendering: optimizeLegibility;
}
