@font-face {
  font-family: 'Coco Gothic';
  src: url('/fonts/cocogothic/cocogothic-bolditalic.woff2') format('woff2'),
    url('/fonts/cocogothic/cocogothic-bolditalic.woff') format('woff'),
    url('/fonts/cocogothic/cocogothic-bolditalic.ttf') format('ttf');
  font-style: italic;
  font-weight: bold;
  font-display: optional;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/atkinsonhyperlegible/Atkinson-Hyperlegible-Regular.woff2')
      format('woff2'),
    url('/fonts/atkinsonhyperlegible/Atkinson-Hyperlegible-Regular.woff')
      format('woff'),
    url('/fonts/atkinsonhyperlegible/Atkinson-Hyperlegible-Regular.ttf')
      format('ttf');
  font-style: normal;
  font-weight: normal;
  font-display: optional;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/atkinsonhyperlegible/Atkinson-Hyperlegible-Bold.woff2')
      format('woff2'),
    url('/fonts/atkinsonhyperlegible/Atkinson-Hyperlegible-Bold.woff')
      format('woff'),
    url('/fonts/atkinsonhyperlegible/Atkinson-Hyperlegible-Bold.ttf')
      format('ttf');
  font-style: normal;
  font-weight: bold;
  font-display: optional;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/atkinsonhyperlegible/Atkinson-Hyperlegible-Italic.woff2')
      format('woff2'),
    url('/fonts/atkinsonhyperlegible/Atkinson-Hyperlegible-Italic.woff')
      format('woff'),
    url('/fonts/atkinsonhyperlegible/Atkinson-Hyperlegible-Italic.ttf')
      format('ttf');
  font-style: italic;
  font-weight: normal;
  font-display: optional;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/atkinsonhyperlegible/Atkinson-Hyperlegible-BoldItalic.woff2')
      format('woff2'),
    url('/fonts/atkinsonhyperlegible/Atkinson-Hyperlegible-BoldItalic.woff')
      format('woff'),
    url('/fonts/atkinsonhyperlegible/Atkinson-Hyperlegible-BoldItalic.ttf')
      format('ttf');
  font-style: italic;
  font-weight: bold;
  font-display: optional;
  text-rendering: optimizeLegibility;
}

:root {
  /* COLORS */
  --colors-text: hsl(245, 61%, 35%);
  --colors-background: hsl(58, 89%, 82%);
  /* FONTS */
  --fonts-heading: 'Coco Gothic', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  --fonts-body: 'Atkinson Hyperlegible', -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  /* FONT SIZES */
  --font-size-xs: 1rem;
  --font-size-sm: 1.25rem;
  --font-size-md: 2rem;
  --font-size-lg: 3rem;
  --font-size-xl: 4rem;
  --font-size-2xl: 5rem;
  /* SPACING */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.25rem;
  --space-xl: 2rem;
  --space-2xl: 3rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Atkinson Hyperlegible', -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: var(--colors-background);
  color: var(--colors-text);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  --fluid-type-min: 2rem;
  --fluid-type-max: 3rem;
  --fluid-type-target: 4vw;

  max-width: 15ch;
}

h2 {
  --fluid-type-min: 3rem;
  --fluid-type-max: 4rem;
}

h3 {
  --fluid-type-min: 1.5rem;
  --fluid-type-max: 2.5rem;
}

h2,
h3 {
  max-width: 30ch;
}

p {
  --fluid-type-min: 1rem;
  --fluid-type-max: 1.5rem;
  max-width: 60ch;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: var(--fonts-heading);
}

h1,
h2,
h3,
h4,
h5,
h5,
p {
  margin: 0;
  font-size: clamp(
    var(--fluid-type-min, 1rem),
    calc(1rem + var(--fluid-type-target, 3vw)),
    var(--fluid-type-max, 1.3rem)
  );
}
